@font-face {
  font-family: 'iconfont';
  src: url('http://at.alicdn.com/t/font_1467820529_4208822.eot'); /* IE9*/
  src: url('http://at.alicdn.com/t/font_1467820529_4208822.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/font_1467820529_4208822.woff') format('woff'), /* chrome、firefox */
  url('http://at.alicdn.com/t/font_1467820529_4208822.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/font_1467820529_4208822.svg#iconfont') format('svg'); /* iOS 4.1- */
}          
      
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}     

html, body {
  margin: 0;
}
.wrap {
  position: relative;
  overflow: hidden;
  width: 500px;
  height: 245px;
}
.wrap .album_show {
  float: left;
  margin-right: 25px;
}
.mask_link {
  display: block;
  color: #000;
  text-decoration: none;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  width: 255px;
  text-align: center;
  opacity: 0.85;
  background: #FFF;
  line-height: 245px;
  font-size: 13px;
  font-family: Arial;
}
.album_show a {
  display: block;
}
.album_show .album {
  display: block;
  width: 245px;
  height: 245px;
}
.wrap .radio_show {
  padding: 10px 25px 10px 0px;
  height: 225px;
  position: relative;
  float: right;
}
.icon_close {
  text-decoration: none;
  color: #FFF;
  position: absolute;
  top: 0px;
  right: 0px;
  transition: all 0.5s;
  background: #6cd8b8;
  display: block;  
  text-align: center;
  width: 25px;
  height: 25px;
  line-height: 25px;
}
.icon_close:hover {
	background: #118e69;
}
.radio_btn_close {	
  font-size: 16px;     
}
.radio_top {
  position: relative;
}
.radio_top .title{
  font-size: 22px;
  font-family: Arial;
  margin-top: 30px;
  margin-bottom: 0px;
  width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.radio_top .desc {
  font-size: 13px;
  font-family: sans-serif;
  margin-top: 0px;
  color: #808080;
  width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.radio_top .radio_spec_btn {
  position: absolute;
  text-decoration: none;
  color: #000;
  top: 5px;  
}
.radio_top .radio_btn_pause {
  right: 22px;
}
.radio_top .radio_btn_set {
  right: 0px;
}
.radio_top .radio_spec__icon {
  font-size: 14px;
}
.radio_progress {
  position: relative;
  float: right;
  width: 205px;
  height: 40px;
  padding: 30px 0px 10px 0px;
}
.radio_progress__bar { 
  width: 100%;
  height: 3px;
  position: relative;
  background-color: #ececec;
}
.radio_progress__load { 
  display: inline-block;
  height: 3px;
  position: absolute;
  background: #c5c5c5;
}
.radio_progress__now {
  display: inline-block;
  height: 3px;
  position: absolute;
  background: #9dd6c5;
}
.radio_progress__dot {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
}
.radio_progress__dot i {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -5px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #FFF;
  border: 1px solid #c5c5c5;
}
.radio_progress__label {
  position: absolute;
  font-size: 12px;
  bottom: 27px;
}
.radio_progress__time {
  left: 0px;
}
.radio_progress__total {
  right: 0px;
}
.radio_control {
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 25px;
  bottom: 34px;
}
.radio_song__name {
  position: absolute;
  top: 10px;
  font-size: 12px;
  color: #50907d;
}
.radio_control__item {
  float: left;
  padding-left: 25px;
}
.radio_control__btn{
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  text-decoration: none;
  color: #000;
  transition: all 0.5s;
}         
.radio_control__item span:hover {
  color: #4e4e4e;
}
.radio_control__icon {
  font-size: 30px;
}
.icon_rubish {
  position: absolute;
  top: -3px;
}
.radio_btn {
  -webkit-app-region: no-drag;
}
.lrc_control { 
  position: absolute;
  border-bottom: 16px solid #ff4343;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  height: 0;
  width: 80px;
  bottom: 0px;
  right: 25px;
  text-align: center;
  font-size: 10px;
  color: #ffdddd;
  font-family: sans-serif;
  line-height: 16px;
  cursor: pointer;
}
.lrc_control:hover {
  color: #FFF;
  border-bottom: 16px solid #795757;
}
.channel_control {
  position: absolute;
  border-top: 16px solid #4a4848;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  height: 0;
  width: 80px;
  top: 0px;
  right: 25px;
  text-align: center;
  font-size: 10px;
  color: #ffdddd;
  font-family: sans-serif;
  line-height: 16px;
  cursor: pointer;  
}
.channel_control span {
  position: absolute;
  color: #FFF;
  top: -15px;
  left: 26px;
}